header {
    background-color: #b1230a;
    padding: 25px; /* Padding for top and bottom */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 70px;
    
}

.custom-button {
    background-color: #095477;
    color:#ffffff
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 540px;
    border-radius: 10px;
    height: 50px;
    width: 210px;
    font-weight: bold;
}

.p1 {
    font-size: 17px;
}

.image2 img {
    width: 70px;
    height: 55px;
    margin-left: 200px;
    margin-top: -100px;
    position: absolute;
}

.p2 {
    margin-left: 150px;
    margin-top: -40px;
    position: absolute;   
}

.p3 {
    margin-left: 70px;
    margin-top: -20px;
    position: absolute;  
}

.image3 img {
    width: 70px;
    height: 55px;
    margin-left: 1000px;
    margin-top: -100px;
    position: absolute;
}

.p4 {
    margin-left: 950px;
    margin-top: -40px;
    position: absolute;  
}

.p5 {
    margin-left: 800px;
    margin-top: -10px;
    position: absolute;  
}

.image4 img {
    width: 70px;
    height: 55px;
    margin-left: 600px;
    margin-top: 90px;
    position: absolute;
}

.p6 {
    margin-left: 510px;
    margin-top: 170px;
    position: absolute;  
}

.p7 {
    margin-left: 410px;
    margin-top: 195px;
    position: absolute;  
}

.p8 {
    margin-left: 420px;
    margin-top: 280px;
    position: absolute;  
}

.p9 {
    margin-left: 210px;
    margin-top: 330px;
    position: absolute;  
}

.p10 {
    margin-left: 510px;
    margin-top: 400px;
    position: absolute;  
}

.p11 {
    margin-left: 50px;   
}

.p12 {
    margin-left: 30px;  
}

